.pointer {
    cursor: pointer;
}
.border { 
    border: 1px solid #666;
    border-radius: 10px;
}
.left {
    float: left;
}
.right {
    float: right;
}
.clear {
    clear: both;
}
.hide {
    display: none;
}
.title {
    font-weight: bold;
}
.center {
    margin-left: auto;
    margin-right: auto;
}

#tabTableList {
    height: 500px;
}

#canvas {
    position: absolute;
    pointer-events: none;
}
#logo { 
    height: 87px; 
    /*background: url('./logo.png') no-repeat;*/
}

#menuTabs {
    height: 660px;
}

.tabTitle {
    font-size: 15px;
    font-weight: bold;
}

.inputLabel {
    margin: 5px 5px 5px 5px;
    font-weight: bold;
}

.commonSetting {
    margin: 5px 5px 5px 5px;
}

.columns {
    margin: 15px 5px 5px 5px;
}

.createTableTitleColumn,
.createTableTitleDescription,
.modifyStructureTitleColumn,
.modifyStructureTitleDescription
{
    width: 180px;
    font-weight: bold;
}

.createTableTitleIsPK,
.createTableTitleAllowEmpty,
.createTableTitleType,
.createTableTitleClient,
.createTableTitleServer,
.modifyStructureTitleIsPK,
.modifyStructureTitleAllowEmpty,
.modifyStructureTitleType,
.modifyStructureTitleClient,
.modifyStructureTitleServer,
.modifyStructureTitleAddColumn,
.modifyStructureTitleDelColumn
{
    width: 80px;
    font-weight: bold;
}

.tableListButtons, .exportListButtons {
    position: absolute;
    left: 150px;
}

.modifyStructureNewColumn {
}

.modifyStructureId,
.modifyStructureTitleId,
.modifyStructureDeletedColumn {
    display: none;
}

.dataTitle {
    width: 100px;
}

.data {
    width: 100px;
}

/* Exporter */
#exportSetting {
    width: 990px;
    height: 100%;
    position: absolute;
}

#exportSettingTabs {
    height: 670px;
}

.levelGraph {
    width: 450px;
    height: 530px;
    padding: 5px 5px 5px 5px;
    margin: 5px 5px 5px 5px;
}

.dragOverGraph {
    border: 1px solid #DF1B26;
}

.graphTableStructure {
    padding: 5px 5px 5px 5px;
}

.graphTableStructureTitle {
}

.graphTableStructureColumnName,
.graphTableStructureRename
{
    width: 100px;
}

.graphTableStructurePK,
.graphTableStructureSelected {
    width: 80px;
}

.graphTableStructureRenameInput {
    width: 70px;
}

.listTitle {
    font-size: 15px;
    font-weight: bold;
    margin: 8px 5px 8px 5px;
}
