#Logo { 
    height: 87px; 
}
#SidebarTab {
    height: 300px;
}
.pointer {
    cursor: pointer;
}
.ExporterDefine-Level-Body {
    height: 500px;
    overflow: auto;
}
.ExporterDefine-Level-Border {
    border-left: 1px solid #DDD;
    border-right: 1px solid #DDD;
    border-bottom: 1px solid #DDD;
    border-radius: 6px;
}
.ExporterDefine-Link-Block {
    border-radius: 6px;
}
.border { 
    border: 1px solid #DDD;
    border-radius: 6px;
}

/*
.left {
    float: left;
}
.right {
    float: right;
}
.clear {
    clear: both;
}
.hide {
    display: none;
}
.title {
    font-weight: bold;
}
.center {
    margin-left: auto;
    margin-right: auto;
}

*/
