h2.text-info Create Table Structure
hr
div.row-fluid
    div.span8
        div.input-prepend
            span.add-on.span4 Name
            input#Name.span6(type="text")
        div.input-prepend
            span.add-on.span4 Description
            input#Description.span6(type="text")
    div.span4
        div
            input.btn(type="button", value="Create", onclick='createTableStructureView.createTable();')
        div
            input.btn(type="button", value="Cancel", onclick='createTableStructureView.closePanel();')
div.row-fluid
    h5.span2 Column
    h5.span1 IsPK
    h5.span1 AllowEmpty
    h5.span2 Type
    h5.span1 Client
    h5.span1 Server
    h5.span2 Description
    h5.span1 Add
    h5.span1 Del
div#CreateTableStructure-Option
