div.modal-header
    h3.text-error Ops...
div.modal-body
    div.alert.alert-block.alert-error.fade.in
        p= errorMessage
div.modal-footer
    button.btn(href='#', data-dismiss='modal', aria-hidden='true') Close
