.modal-header
    h3.text-info Import Table Data
.modal-body
    .hide#ImportTableId= table.id
    div Import data to '#{table.name}'
    div
        input#ImportTableDataFile(type='file', onchange='Importer.preview();');
    #TableDataPreview
    #TableDataError.text-error
.modal-footer
    button.btn#ImportTableDataSubmitButton(href='#', data-dismiss='modal', aria-hidden='true', onclick='DataListController.Import(#{table.id});', disabled) Import
    button.btn(href='#', data-dismiss='modal', aria-hidden='true') Cancel
