.modal-header
    h3.text-info Confirm Dialog
.modal-body
    .alert.alert-block.alert-error.fade.in
        p Are you sure to delete #{exporter.name} ?
.modal-footer
    button.btn(href='#', data-dismiss='modal', aria-hidden='true', onclick='ExporterController.remove(#{exporter.id});') OK
    button.btn(href='#', data-dismiss='modal', aria-hidden='true') Cancel

