.ExporterDefine-Level.span4.border(id='ExporterDefine-Level-#{level}')
    #ExporterDefine-Level-Top.row-fluid
        .span4 Level#{level}
        .span8.input-append
            select.span6(
                class='ExporterDefine-RootTable-Select'
            )
            button.btn Add
