div#ExporterDefine-RootTable
    .row-fluid
        strong.span4 #{table.name}
        .span4 RootTable
    #ExporterDefine-RootTable-Columns(class='ExporterDefine-Columns-TableId-#{table.id}')
        .row-fluid
            .span4 Column
            .span2 Link
            .span1 PK
            .span1 Choose
            .span4
    hr
