.row-fluid
    #Left-Block.span3
        #Logo
        .tabbable
            ul#TabHeader.nav.nav-tabs
                li.dropdown.active
                    a(href='#TableTab', data-toggle="tab") Table
                li
                    a(href='#ExportTab', data-toggle="tab") Export
                li
                    a(href='#SystemTab', data-toggle="tab") System
            #Tree.tab-content
                #TableTab.tab-pane.active
                    .row-fluid
                        .span3.offset1
                            input.btn(type="button", value="New", onclick='indexView.newTableDefine();')
                        .span3
                            input.btn(type="button", value="Import") 
                    p
                    #TableList
                #ExportTab.tab-pane
                    .row-fluid
                        .span4.offset1
                            input.btn(type="button", value="Download All", onclick='exporterDataView.downloadAll();')
                        .span4
                            input.btn(type="button", value="All To Server", onclick='exporterDataView.allToServer();')
                    p
                    .row-fluid
                        .span2.offset1
                            input.btn(type="button", value="New", onclick='indexView.newExporterDefine();')
                    p
                    #ExporterList
                #SystemTab.tab-pane
                    .row-fluid
                        .span4.offset1
                            input.btn(type="button", value="Backup", onclick='backupView.backupAll();')
                        .span4
                            input.btn(type="button", value="Restore", onclick='restoreView.renderAll();')
                    p
    #Content.span9
#Footer.row-fluid
    .span3.row-fluid
        #Status.span3
        #OnlineUser.span9
    .span9 ParaNoidz Stuido All Right Reservered.
#Dialog.modal.fade.hide
