.row-fluid
    .span3
        #Logo
        .tabbable
            ul.nav.nav-tabs
                li.dropdown.active
                    a(href='#TableTab', data-toggle="tab") Table
                li
                    a(href='#ExportTab', data-toggle="tab") Export
                li
                    a(href='#SystemTab', data-toggle="tab") System
            #SidebarTab.tab-content
                #TableTab.tab-pane.active
                    .row-fluid
                        .span3.offset2
                            input.btn(type="button", value="New", onclick='indexView.newTableDefine();')
                        .span3
                            input.btn(type="button", value="Import") 
                    p
                    #TableList
                #ExportTab.tab-pane
                    #ExportTabBody
                        p bb
                #SystemTab.tab-pane
                    #SystemTabBody
                        p cc
    #Content.span9
.row-fluid
    .span3.row-fluid
        #Status.span6
        #OnlineUser.span6
    .span9 ParaNoidz Stuido All Right Reservered.
#Dialog.modal.fade.hide
