div.row-fluid
    div.span3
        div#Logo
        div.tabbable
            ul.nav.nav-tabs
                li.dropdown.active
                    a(href='#TableTab', data-toggle="tab") Table
                li
                    a(href='#ExportTab', data-toggle="tab") Export
                li
                    a(href='#SystemTab', data-toggle="tab") System
            div#SidebarTab.tab-content
                div#TableTab.tab-pane.active
                    div.row-fluid
                        div.span3.offset2
                            input.btn(type="button", value="New", onclick='indexView.openCreateTableStructurePanel();')
                        div.span3
                            input.btn(type="button", value="Import") 
                    p
                    div#TableList
                div#ExportTab.tab-pane
                    div#ExportTabBody
                        p bb
                div#SystemTab.tab-pane
                    div#SystemTabBody
                        p cc
    div#Content.span9
div.row-fluid
    div.span3.row-fluid
        div#Status.span6
        div#OnlineUser.span6
    div.span9 ParaNoidz Stuido All Right Reservered.
div#DialogPanel
