h2.text-info Modify Table Structure
hr
div.row-fluid
    div.span8
        div.input-prepend
            span.add-on.span4 Id
            input.span6(type="text", value="#{t.i}", disabled=true)
        div.input-prepend
            span.add-on.span4 Name
            input.span6(type="text", value="#{t.n}")
        div.input-prepend
            span.add-on.span4 Description
            input.span6(type="text", value="#{t.d}")
    div.span4
        div
            input.btn(type="button", value="Modify")
        div
            input.btn(type="button", value="Delete")
div.row-fluid
    h5.span1 Id
    h5.span1 Column
    h5.span1 isPK
    h5.span1 allowEmpty
    h5.span2 Type
    h5.span1 Client
    h5.span1 Server
    h5.span2 Description
    h5.span1 Add
    h5.span1 Del
div#ModifyTableStructure-Option
