h2.text-info Restore
hr
div
    input#RestoreAll-File(type='file', onchange='restoreView.preview();');
p
#RestoreStatus
div
    input.btn(type='button', value='Restore', onclick='restoreView.onRestore();');
