for table in tableList.list
    div.row-fluid
        div.btn-group.offset1
            button.btn(onclick='tableListView.openModifyTableStructurePanel(#{table.id});') #{table.name}
            button.btn.dropdown-toggle(data-toggle='dropdown')
                span.caret
            ul.dropdown-menu
                li
                    a(href='#', data-toggle='tab') Import Data
                li.divider
                li
                    a(href='#', data-toggle='tab') Delete
