for table in tl
    div.createExportTableList
        div.tableListTableName
            input(type='button', value='#{table.n}', draggable='true')
            input.tableId(type='hidden', value='#{table.i}')
