div#createTable
    div
        div.left 
            span TableName:
            input#createTableName(type='text')
        div.left
            span Description:
            input#createTableDescription(type='text')
        div.left
            input(type='button',
                value='Create',
                onclick='table.createTable();')
        div.clear
    div#Columns
        div
            div.createTableTitleColumn.left Column
            div.createTableTitleIsPK.left isPK
            div.createTableTitleAllowEmpty.left allowEmpty
            div.createTableTitleType.left Type
            div.createTableTitleClient.left Client
            div.createTableTitleServer.left Server
            div.createTableTitleDescription.left Description
            div.clear
        div#createTableOption
