div#dialog
div#error
div#indexLeftBlock.left
    div#logo
    div#menu
        div#menuTabs
            ul
                li
                    a(href='#tabTable', onclick='tab.clickTabTable();') Table
                li
                    a(href='#tabConfig') Config
                li
                    a(href='#tabSystem') System
            div#tabTable
                p this is table
            div#tabConfig
                p this is config
            div#tabSystem
                p this is system
div#indexRightBlock.border.left
