div.levelGraph.border.left
    input.levelValue(type='hidden', value='#{level}')
    div.exporterGraphTitle
        span.inputLabel.exporterLevelTitle Level#{level}
        input.buttonDeleteLevel(type='button', value='Delete')
    hr
