div
    div#dataTitle
        for columnName, i in cl
            div.dataTitle.left #{i}
        div.clear
    div#data
        for line in dl
            for data in line
                div.data.left #{data}
            div.clear
