div#dialog
div#error
div#indexLeftBlock.left
    div#logo
    div#menu
        div#menuTabs
            ul
                li
                    a(href='#tabTable', onclick='tab.clickTabTable();') Table
                li
                    a(href='#tabExport', onclick='tab.clickTabExport();') Export
                li
                    a(href='#tabSystem') System
            div#tabTable
                p
            div#tabExport
                p
            div#tabSystem
                p
div#indexRightBlock.border.left
