div#tabTableTop
    input#buttonCreateTable(type='button', value='Create', onclick='table.clickCreateTable();')
    input#buttonImportData(type='button', value='ImportData', onclick='table.clickImportData();')
hr
div#tabTableBody
    div#tabTableList
