body {
    font-size: 80%;
    /*
    color: #EEEEEE;
    background-color: #111111;*/
}

.pointer {
    cursor: pointer;
}
.border { 
    border: 1px solid #DDDDDD;
    border-radius: 10px;
}
.left {
    float: left;
}
.clear {
    clear: both;
}
.hide {
    display: none;
}
.title {
    font-weight: bold;
}

#canvas {
    position: absolute;
    pointer-events:none;
}
#indexLeftBlock { 
    width: 250px;
    height: 750px;
}
#indexRightBlock {
    width: 1000px;
    height: 750px;
}
#logo { 
    height: 87px; 
    background: url('./logo.png') no-repeat;
}

#menuTabs {
    height: 740px;
}

.createTableTitleColumn,
.createTableTitleDescription,
.modifyStructureTitleColumn,
.modifyStructureTitleDescription
{
    width: 180px;
}

.createTableTitleIsPK,
.createTableTitleAllowEmpty,
.createTableTitleType,
.createTableTitleClient,
.createTableTitleServer,
.modifyStructureTitleIsPK,
.modifyStructureTitleAllowEmpty,
.modifyStructureTitleType,
.modifyStructureTitleClient,
.modifyStructureTitleServer,
.modifyStructureTitleAddColumn,
.modifyStructureTitleDelColumn
{
    width: 80px;
}

.tableListButtons, .exportListButtons {
    position: absolute;
    left: 150px;
}

.modifyStructureNewColumn {
    background-color: #EEEEEE;
}

.modifyStructureId,
.modifyStructureTitleId,
.modifyStructureDeletedColumn {
    display: none;
}

.dataTitle {
    width: 100px;
}

.data {
    width: 100px;
}

/* Exporter */
#exportSetting {
    width: 100%;
    height: 100%;
    position: absolute;
}

#exportSettingTabs {
    height: 800px;
}

.levelGraph {
    width: 450px;
    height: 600px;
}

.dragOverGraph {
    background-color: #DDDDDD;
}

.graphTableStructureTitle {
    margin-left: 50px;
}

.graphTableStructureColumnName,
.graphTableStructureRename
{
    width: 100px;
}

.graphTableStructurePK,
.graphTableStructureSelected {
    width: 80px;
}

.graphTableStructureRenameInput {
    width: 70px;
}
